<section ng-controller="ArticlesController">
  <div class="page-header">
    <h1>New Article</h1>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-horizontal" ng-submit="create(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Article title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <label for="publishedDate">Published Date</label>
          <input name="publishedDate" type="text" ng-model="publishedDate" id="publishedDate" class="form-control" placeholder="Published Date" required>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input name="lastName" type="text" ng-model="lastName" id="lastName" class="form-control" placeholder="Last Name" required>
          <div ng-messages="articleForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last Name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
